<section class="registration">
  <span>Automatic registration and login using social networks:</span>
  <div class="flx-cntr socialIconsWrapper">
    <div class="socialIcon facebook" (click)="openModalForFacebookAutentification()"></div>
    <div class="socialIcon twitter"></div>
    <div class="socialIcon instagram"></div>
    <div class="socialIcon whatsApp"></div>
  </div>
  <span>or</span>
    <div class="flx-cntr">
      <button mat-stroked-button color="primary" (click)="registrationFunc()">registration</button>
      <button mat-raised-button color="primary" (click)="loginFunc()">sign in</button>
    </div>
</section>
