.container {
    padding-top: 50px;
    text-align: center;

    .cardButton{
        width: 50vw;
        margin-left: 10vw;

    }
}
.containerForCards{
    margin-left: 10vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}